page-user-manual {
.slideImg{
    width:51%;
    height:60%;
}
.userManualPage{
    // height:105%;
    line-height: 140%;
}
font-family: "catamaran";
.userManualHeading{
    font-weight:bold;
    color:#387ef5;
        margin-top: 0.5em!important;
}
}
.swiper-pagination{
    display: inline-block !important;
        margin-bottom: -6%;
    // bottom: 0!important;
}
