<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Search</ion-title>
    </ion-navbar>

    <ion-toolbar color="light">


        <ion-segment>
            <ion-segment-button value="Title" class="segmentText segment-activated" (ionSelect)="setTitle()">
                Title
            </ion-segment-button>
            <ion-segment-button value="Author" class="segmentText" (ionSelect)="setAuthor()">
                Author
            </ion-segment-button>
        </ion-segment>

    </ion-toolbar>



    <ion-row>
        <ion-col width-90>
            <ion-searchbar color="primary" [(ngModel)]=searchInput (ionInput)="getItems(searchInput)" showCancelButton="true" (ionCancel)="goBackToCategories()">
            </ion-searchbar>
        </ion-col>
        <ion-col width-10>
            <!--<button ion-button icon-only >-->
            <ion-icon class="searchFilter" name="options" (click)=presentPopover($event)></ion-icon>
            <!--</button>-->
        </ion-col>
    </ion-row>
</ion-header>

<h2 class="searchResultsTitle">Search Results</h2>

<ion-content>
    <!--<h2 class="searchResultsTitle" >Search Results</h2>-->


    <!--<ion-card class="detailViewPage" *ngFor='let b of book'>
    <ion-row class="bookDiv">
      <ion-col width-33>
        <img class="img-thumbnail bookImg" src="{{b.image}}" alt="book Image">
      </ion-col>
      <ion-col width-67 class="rightAlign">

        <span class="bookTitle">{{b.title}}</span><br>
        <span class="bookAuthor">{{b.authors}}<br></span><br>
        <span class="bookPublisher">{{b.publishers}}<br></span>
<div class="button-clicked" [style.background-color]="getStyle()">
      <button class="heart-button" (click)="showStyle = !showStyle;"><ion-icon name="heart-outline"></ion-icon></button>
       </div> 
      </ion-col>
    </ion-row>
</ion-card>-->

    <ion-card *ngFor="let book of categorisedBooks" (click)=showDetailView(book)>
        <!--<ion-card-header class="bookTitle">{{book.title}}</ion-card-header>

			<img [src]="book.image" class="bookImg" />

			<ion-card-content>
				<div class="bookAuthor">By: {{book.authors}}</div>
				<div class="bookRenewDetails">Available:<span class="bookRenewTime">{{book.available}}</span></div>
			</ion-card-content>-->
        <ion-row>
            <ion-col width-33>
                <img class=" img-thumbnail bookImg" src="{{book.image}}" alt="book Image">
            </ion-col>
            <ion-col width-67 class="rightAlign">
                <!--<ion-content >-->
                <span class="bookTitle">{{book.title}}</span><br>
                <span class="bookAuthor">{{book.authors}}<br></span>
                <!--<div class="bookRating">
                        <span class="glyphicon glyphicon-star" ng-repeat="star in $ctrl.getSize($ctrl.book.avgRating) track by $index"></span>
                    </div>-->
                <rating [ngModel]="book.avgRating" readOnly="true" class="searchPageRating"></rating>
                <span class="bookRenewDetails">Available: <span class="bookRenewTime">{{book.available}}</span></span>
                <!--</ion-content>-->
            </ion-col>
        </ion-row>
    </ion-card>

</ion-content>

<!--<ion-content *ngIf=!showSearch>
	<page-detail-view [book]="book"></page-detail-view>
</ion-content>-->